/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* ----- Custom Styles Start Here ----- */

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

.recipe {
    width: 24%;
    margin: 0 3%;
    padding: 1% 2%;
    box-sizing: border-box;
    float: left;
    border: 1px solid black;
    border-radius: 4px;
}

.recipe:first-child {
    margin-left: 8%;
}

.recipe:last-child {
    margin-right: 8%;
}

h2, .credit, ul, ol, .tags {
    margin-bottom: 0.75em;
}

li {
    margin-bottom: 0.25em;
}

.credit {
    text-align: center;
}

label {
    margin-right: 0.4em;
}

.tags {
    margin-right: 0.25em;
    font-weight: 300;
    text-decoration: underline;
}

.tags:last-child {
    margin-right: 0;
}

footer {
    
}

/* ----- FORM STYLES ----- */

form {
    width: 75%;
    margin: auto;
    text-align: center;
}

form label, form input {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}

form div a {
    float: right;
    position: absolute;
    margin-left: 1em;
    line-height: 2.5em;
    font-size: 0.75em;
    font-weight: 300;
}

.add_more {
    width: 15%;
    font-size: 0.75em;
}

form .success, form .error_text, form input, form button {
    width: 30%;
}

form input, form button {
    text-align: center;
    font-size: 1.25em;
}

form input[type="submit"], form button {
    display: block;
    margin: 0 auto 15px;
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 2em;
    padding: 0 1em;
}

form .success {
    height: 2em;
    line-height: 2em;
    margin: auto;
    font-weight: bold;
    font-size: 1.5em;
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 0.25em;
    border: 1px solid #b1c197;
}

form .error_text {
    height: 1.5em;
    line-height: 1.5em;
    margin: auto;
    font-weight: 300;
    font-size: 1em;
    color: #D8000C;
    background-color: #FFBABA;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 3px;
    border: 1px solid #a50009;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}