/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

/* ----- Custom Styles Start Here ----- */

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/wood_background.jpg) repeat-y center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #e8e8e8;
    height: 100%;
    min-height: 100%;
}

header, footer {
    width: 100%;
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

#viewall {
    width: 28%;
    font-size: 1.25em;
    border-radius: 6px;
    border: 1px solid black;
    line-height: 1.75em;
    background-color: rgba(232,232,232,0.7);
    cursor: pointer;
}

#viewall:hover {
    background-color: rgba(232,232,232,0.9);
}

/* ----- Search Styles ----- */

#search {
    width: 88%;
    height: 2em;
    margin-bottom: 1%;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    background-color: rgba(232,232,232,0.3);
    border: 1px solid black;
    border-radius: 5px;
}

#search:hover {
    background-color: rgba(232,232,232,0.4);
}

#search:active, #search:focus {
    background-color: rgba(232,232,232,0.6);
}

mark.highlight {
    background-color: #ffff7f;
}

/* ----- End Search Styles ----- */

/* ----- Menu Styles ----- */

.menu {
    position: fixed;
    left: 0%;
    top: 25%;
    font-size: 1em;
    line-height: 1.5em;
    padding: 1px;
    background-color: rgba(232,232,232,0.7);
    border: 1 px solid black;
    border-radius: 0 5px 5px 0;
    color: black;
    cursor: pointer;
    transition: opacity .5s;
}

.menu:hover {
    background-color: rgba(232,232,232,0.9);
}

.menu i, .menu span {
    vertical-align: middle;
}

#sidemenu {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    white-space: nowrap;
}

#sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: #e8e8e8;
    text-decoration: none;
}

#sidemenu .closebtn:hover {
    color: #e8e8e8;
    text-decoration: none;
}

#sidemenu h3 {
    margin: 0 0 1em 1em;
}

#sidemenu ul {
    margin-left: 1em;
}

#sidemenu ul li {
    list-style: none;
}

#container {
    transition: margin-left .5s;
    padding: 20px;
}

/* ----- End Menu Styles ----- */

/* ----- Grid and Recipe Card Styles ----- */

.grid {
    width: 88%;
    margin: auto;
}

.grid-item, .grid-sizer {
    width: 32%;
}

.gutter-sizer {
    width: 2%;
}

.grid-item {
    margin: 1% 0;
    padding: 1% 2%;
    box-sizing: border-box;
    float: left;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0, 0.4);
}

h2, .credit, ul, ol, .tags {
    margin-bottom: 0.75em;
}

li {
    margin-bottom: 0.25em;
}

.credit {
    text-align: center;
}

label {
    margin-right: 0.4em;
}

.tags {
    margin-right: 0.25em;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

.tags:hover {
    color: #C0C0C0;
}

.tags:last-child {
    margin-right: 0;
}

/* ----- End Grid and Recipe Card Styles ----- */

/* ----- Footer Styles ----- */

footer {

}

/* ----- End Footer Styles ----- */

/* ----- Submit Form Styles ----- */

form {
    width: 30%;
    margin: auto;
    text-align: center;
}

form label, form input {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}

form div a {
    float: right;
    position: absolute;
    margin-left: 1em;
    line-height: 2.5em;
    font-size: 0.75em;
    font-weight: 300;
}

form div a, form div a:hover, form div a:active, form div a:focus {
    color: white;
}

.add_more {
    width: 40%;
    font-size: 0.75em;
}

form .success, form .error, form .error_text, form input, form button {
    width: 80%;
}

form input, form button {
    text-align: center;
    font-size: 1.25em;
    box-sizing: border-box;
}

form input[type="submit"], form button {
    display: block;
    margin: 0 auto 15px;
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 2em;
    padding: 0 1em;
    cursor:pointer;
}

form input[type="submit"]:hover, form button:hover {

}

form .success, form .error_message {
    height: 2em;
    line-height: 2em;
    margin: auto;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0.25em;
}

form .success {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 1px solid #b1c197;
}

form .error_message {
    display: inline;
    padding: 10px;
}

form .error_message, form .error-text {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid #a50009;
}

form .error_text {
    height: 1.5em;
    line-height: 1.5em;
    margin: auto;
    font-weight: 300;
    font-size: 1em;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 3px;
}

/* ----- End Submit Form Styles ----- */

/* ----- Media Queries ----- */

@media only screen and (max-device-width: 1310px){
    /* styles for browsers smaller than 1300px; */
    .grid-item, .grid-sizer {
        width: 49%;
    }

    .add_more {
        width: 50%;
        font-size: 0.65em;
    }
}

@media only screen and (max-device-width: 1200px){
    /* styles for browsers smaller than 1200px; */
    html {
        font-size: 14px;
    }

    form { 
        width: 40%;
    }

    form .success, form .error, form .error_text, form input, form button {
        width: 80%;
    }

    form input {
        font-size: 1.75em;
    }

    form label {
        font-size: 1.5em;
    }
}

@media only screen and (max-device-width: 1000px){
    /* styles for browsers smaller than 1000px; */
    .grid-item {
        padding: 1% 3%;
    }

    form {
        width: 50%;
    }

    form .success, form .error, form .error_text, form input, form button, .add_more {
        width: 100%;
    }

    .add_more {
        font-size: 1em;
    }
}

@media only screen and (max-device-width: 800px){
    /* styles for browsers smaller than 800px; */
    html {
        font-size: 14px;
    }
    .grid, #viewall {
        width: 95%;
    }
    .grid-item, .grid-sizer {
        width: 100%;
    }
    .grid-item {
        margin: 2% 0;
        padding: 3% 7%;
    }
    .gutter-sizer {
        width: 0%;
    }
    
    #viewall {
        font-size: 1.5em;
        line-height: 2.0em;
    }

}

@media only screen and (max-device-width : 736px) {
    html {
        background-attachment: scroll;
    }
}

/* ----- End Media Queries ----- */

/* ----- Clearfix ----- */

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* ----- End Clearfix ----- */