/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

/* ----- Custom Styles Start Here ----- */

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../images/wood_background.jpg) repeat-y center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #e8e8e8;
    height: 100%;
    min-height: 100%;
}

.recipe-contain {
    width: 35%;
    background-color: rgba(0,0,0, 0.4);
    margin: 3% auto;
    border-radius: 5px;
    padding: 15px 2%;
}

.recipe h2, .recipe .credit {
    margin-bottom: 10px;
}

.recipe ul, .recipe ol {
    margin: 0 auto 10px;
    padding-left: 27px;
}

.recipe li {
    margin-bottom: 5px;
}

.recipe li:last-child {
    margin-bottom: 0;
}

.recipe .tags {
    padding-left: 10px;
}

.recipe h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.recipe .credit {
    text-align: center;
}

label {
    margin-right: 0.4em;
}

.tags span {
    margin-right: 0.25em;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
}

#home-link {
    text-align: center;
    display: block;
    margin: auto;
    color: #e8e8e8;
}

footer {
    position: fixed;
    bottom: 0px;
    padding: 0 10px 10px;
}

/* ----- Media Queries ----- */

@media only screen and (max-device-width: 1310px){
    /* styles for browsers smaller than 1300px; */
    .recipe-contain {
        width: 45%;
    }
    
}

@media only screen and (max-device-width: 1200px){
    /* styles for browsers smaller than 1200px; */

    
}

@media only screen and (max-device-width: 1100px){
    /* styles for browsers smaller than 1100px; */

    
}

@media only screen and (max-device-width: 1000px){
    /* styles for browsers smaller than 1000px; */
    html {
        font-size: 18px;
    }
    
    .recipe-contain {
        width: 65%;
    }
    
}

@media only screen and (max-device-width: 800px){
    /* styles for browsers smaller than 800px; */

    .recipe-contain {
        width: 85%;
    }

}

@media only screen and (max-device-width : 736px) {
    html {
        background-attachment: scroll;
    }
    
    .recipe-contain {
        width: 90%;
    }
}

/* ----- End Media Queries ----- */

/* ----- Clearfix ----- */

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* ----- End Clearfix ----- */